<h2>Infrakunafoni</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form>
			<h1>INSCRIPTION</h1>
			<input type="text" [(ngModel)]="nusername"  id="inputs" name="nusername" placeholder="Nom d'utilisateur" />
			<input type="email" [(ngModel)]="nemail"  id="inputs" name="nemail" placeholder="Email" />
			<input type="password" [(ngModel)]="npassword"  id="inputs" name="npassword" placeholder="Mot de passe" />
            <input type="password" [(ngModel)]="ncpassword"  id="inputs" name="ncpassword" placeholder="Confirmer le mot de passe" />
			<button (click)="signup(nusername,nemail,npassword,ncpassword)">S'inscrire</button>
            <span>Ou continuer avec</span>
            <div class="social-container">
				<a href="" class="social"><i class="fab fa-google"></i></a>
				<a href="" class="social"><i class="fab fa-github"></i></a>
			</div>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form>
			<h1>CONNEXION</h1>
			<input type="text" [(ngModel)]="username"  id="inputs" name="username" placeholder="Nom d'utilisateur" />
			<input type="password" [(ngModel)]="password"  id="inputs" name="password" placeholder="Mot de passe" />
			<a href="">Mot de passe oublié ?</a>
			<button (click)="signin(username,password)">Se connecter</button>
            <span>Ou continuer avec</span>
            <div class="social-container">
				<a href="" class="social"><i class="fab fa-google"></i></a>
				<a href="" class="social"><i class="fab fa-github"></i></a>
			</div>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Bienvenu ADMIN</h1>
				<p>Connectez-vous pour gérer les ressources de Infrakunafoni !</p>
				<button class="ghost" id="signIn">Se connecter</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Bonjour !</h1>
				<p>Créez un compte et commencez à gérer.</p>
				<button class="ghost" id="signUp">S'inscrire</button>
			</div>
		</div>
	</div>
</div>