<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
              <div class="panel-body">
                <div class="table-title">
                  <div class="row">
                      <div class="col-sm-8"><h2>Liste des <b>infractions</b></h2></div>
                      <div class="col-sm-4">
                          <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Ajouter une infraction</button>
                      </div>
                  </div>
              </div>
                <div class="panel panel-primary">
                    
                      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">
                
                        <thead>
                          <tr>
                            <th >Désignation</th>
                            <th >Réference</th>
                            <th >Amendes</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let g of Geeg">
                            <td>Arrêt non  authorisé</td>
                            <td>Article 23</td>
                            <td>2000 F</td>
                            <td><button style='margin-right:16px' class="btn btn-danger">Supprimer</button>
                              <button style='margin-right:16px' class="btn btn-success" style="margin-left: 10px">Modifier</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>