<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
              <div class="panel-body">
                <div class="table-title">
                  <div class="row">
                    <h3 *ngIf="!admin">
                      Connectez-vous en tant que admin pour pouvoir gérer !
                    </h3>
                    <div class="col-sm-8"></div>
                      <div class="col-sm-2">
                        <button type="button" class="btn-info add-new"  (click)="ajouterInfraction()" *ngIf="admin"><i class="bi bi-plus"></i> Ajouter</button>
                      </div>
                      <div class="col-sm-2">
                          <button type="button" class="btn-info add-new"  data-mdb-target="#importer" data-mdb-toggle="modal" *ngIf="admin"><i class="bi bi-box-arrow-in-down"></i> Importer</button>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                      <div class="col-sm-8"><h2>Liste des <b>infractions</b></h2></div>
                      <div class="col-sm-4">
                        <div class="input-group">
                          <div id="search-autocomplete" class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="Rechercher" [(ngModel)]="searhText"/>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
                <div class="panel panel-primary">

                      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

                        <thead>
                          <tr>
                            <th >Désignation</th>
                            <th >Réference</th>
                            <th >Vocal</th>
                            <th *ngIf="admin">Actions</th>
                          </tr>
                        </thead>
                        <tbody >
                          <tr *ngFor="let infraction of listinfraction | paginate:{itemsPerPage:8,currentPage:page} | filter:searhText;">
                            <td>{{infraction.description}}</td>
                            <td>{{infraction.reference}}</td>
                            <td *ngIf="infraction.vocals.length > 0">{{infraction.vocals[0].langue.label}}</td>
                            <td *ngIf="infraction.vocals.length == 0">Non défini</td>
                            <td *ngIf="admin"><button class="supress" (click)="supprimerInfraction(infraction.id)">Supprimer</button>
                              <button class="add-new" data-mdb-target="#critere" data-mdb-toggle="modal" (click)="getInfraction(infraction.id)">Modifier</button>
                            </td>
                          </tr>
                        </tbody>

                      </table>
                      <br>
                      <pagination-controls class="pagination" (pageChange)="page=$event" nextLabel="Suivant" previousLabel="Précedent">
                      </pagination-controls>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="critere" tabindex="100" aria-labelledby="critere" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content w-100">
      <form
        (submit)="modifier(mid,description,reference,langue,file)"
        style="width: 96%; margin-left: auto;margin-right: auto;">
        <label class="gras">Modifier l'infraction :</label>
        <br>
        <div >
          <br>
          <div class="input-box">
            <span >Désignation *</span>
            <textarea class="form-control" name="{{description}}" [(ngModel)]="description" id="details"
                placeholder="Donner une description de l'infraction" required></textarea>
          </div>
          <div class="input-box">
            <span>Réference *</span>
            <input type="text" [(ngModel)]="reference"  id="inputs" name="{{reference}}" placeholder="Article ..." class="form-control" autocomplete="off"  required>
          </div>
          <span>Ajouter un vocal</span>
            <form action="">
              <div class="row">
                <div class="col-md-3">
                    <div class="input-box mb-3">
                        <Label for="inputs" >Langue</Label>
                        <select name="langue" [(ngModel)]="langue" class="select" class="form-control" aria-placeholder="bm">
                          <option *ngFor="let langue of listlangue">{{langue.label}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="input-box mb-3">
                        <div class="input-box">
                            <Label >Selectionner un audio</Label>
                            <!-- <input type="file" id = "file" name ="file" (change)="selectFile($event)" required placeholder="Joindre un fichier"/> -->
                            <!-- <input type="file" formControlName="file" class="form-control" (change)="selectFile($event)"
                      style="margin-bottom: 1%; width: 90%; padding: 10px; font-size: 20px; border-radius: 5px;"> -->
                            <input type="file" [(ngModel)]="file" placeholder="infraction001.m4a" id="logo" name="file" class="form-control"
                              (change)="selectFile($event)" accept="audio/*" required />
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <br>
        <button type="submit" class="but" style="margin-bottom: 20px;">Modifier</button>
        <br>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="importer" tabindex="100" aria-labelledby="importer" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content w-100">
      <form
        (submit)="importer(excel)"
        style="width: 96%; margin-left: auto;margin-right: auto;">
        <label class="gras">Importer une liste d'infraction :</label>
        <br>
        <div >
          <br>
            <form action="">
              <div class="row">
                <div class="col-md">
                    <div class="input-box mb-3">
                        <div class="input-box">
                            <Label >Selectionner un fichier excel</Label>
                            <input type="file" [(ngModel)]="file" placeholder="listinfraction.xlxs" id="logo" name="excel" class="form-control"
                              (change)="selectExcel($event)" accept=".xls,.xlsx" required />
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
        <br>
        <button type="submit" class="but" style="margin-bottom: 20px;">Importer</button>
        <br>
      </form>
    </div>
  </div>
</div>
