* {
    font-family: 'Montserrat', sans-serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}


.add-new {
    background-color: #3F72AF;
    color: #fff;
    float: right;
    height: 30px;
    /* font-weight: bold; */
    /* font-size: 12px; */
    text-shadow: none;
    border: none;
    min-width: 300px;
    border-radius: 50px;
    line-height: 13px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.pagination {
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    display: flex;
    margin-left: 31%;
    /* margin-top: 2%; */
}
.pagination ::ng-deep .ngx-pagination .current {
    background-color: #3F72AF; }

.gauche {
    float: left;
}

.gras {
    color: #3F72AF;
    font-weight: bold;
}

.but {
    border-radius: 15px;
    padding: 8px;
    width: 180px;
    background-color: #3F72AF;
    color: #FFF;
    border: #3F72AF 1px solid;
    float: right;
}

.but:hover {
    background: #FFF;
    color: #3F72AF;
}

.rounded {
  min-height: 180px;
}
