<div class="container">
    <div class="row">
        <div  class=" col-6 col-sm-3 col-md-4 col-lg-3" *ngFor=" let user of listutilisateur | paginate:{itemsPerPage:8, currentPage:page}; let index = index">

            <div *ngIf="longueur!==0" class="card" style="margin-bottom: 4%;">
              <img *ngIf="user.image!=null" src="assets/img/{{user.image}}" class="card-img-top" alt="profil" >
              <img *ngIf="user.image==null" src="assets/img/profil.png" class="card-img-top" alt="profil">

              <div class="card-body">
                <h5 class="card-title">{{user.username}}</h5>
                <p class="card-text">{{user.roles[0].name}}</p>
              </div>

            </div>

        </div>
    </div>
    <pagination-controls (pageChange)="page = $event" nextLabel="Suivants" previousLabel="Précédents" [responsive]="responsive" class="pagination">

    </pagination-controls>
</div>

