<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
              <div class="panel-body">
                <div class="table-title">
                  <div class="row">
                      <div class="col-md-6"></div>
                      <div class="col-md-3">
                          <button type="button" class="btn-info add-new"  (click)="addNewQuestion()" *ngIf="admin"><i class="bi bi-plus"></i> Ajouter une question</button>
                      </div>
                      <div class="col-md-3">
                        <button type="button" class="btn-info add-new" *ngIf="admin" data-mdb-target="#addquiz" data-mdb-toggle="modal"><i class="bi bi-plus"></i> Ajouter un quiz</button>
                      </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-8"><h2>Liste des <b>quiz</b></h2></div>
                    <div class="col-md-4">
                      <div class="input-group">
                        <div id="search-autocomplete" class="form-outline">
                          <input type="search" id="form1" class="form-control" placeholder="Rechercher" [(ngModel)]="searhText"/>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
                <div class="panel panel-primary">

                      <table id="example" class="table table-striped table-bordered table-sm row-border hover" cellspacing="0" width="100%">

                        <thead>
                          <tr>
                            <th >Nom</th>
                            <th >Nombre de question</th>
                            <th *ngIf="admin">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let quiz of listquiz | paginate:{itemsPerPage:8,currentPage:page} | filter:searhText;">
                            <td>{{quiz.label}}</td>
                            <td>{{quiz.questions.length}} <button *ngIf="quiz.questions.length > 0" class="voir" data-mdb-target="#voirquestion" data-mdb-toggle="modal" (click)="getQuiz(quiz.id)">voir</button></td>
                            <td *ngIf="admin">
                                <button class="supress" (click)="supprimerQuiz(quiz.id)">Supprimer</button>
                                <button class="add-new" data-mdb-target="#critere" data-mdb-toggle="modal" (click)="getQuiz(quiz.id)">Ajouter une question</button>
                            </td>
                        </tbody>

                      </table>
                      <br>
                      <pagination-controls class="pagination" (pageChange)="page=$event" nextLabel="Suivant" previousLabel="Précedent">
                      </pagination-controls>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="critere" tabindex="100" aria-labelledby="critere" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content w-100">
      <form
        (submit)="addQuestionToQuiz(mid,question1,question3,question3) "
        style="width: 96%; margin-left: auto;margin-right: auto;">
        <label class="gras">Choississez une question pour {{mlabel}}</label>
        <div >
          <br>
          <div class="input-box">
              <option style="font-weight: 100;" selected>Question</option>

              <select name="question1" [(ngModel)]="question1" class="select" class="form-control">
                  <option value="null">Choisissez la question</option>
                  <option *ngFor="let question of listquestion">{{question.question}}</option>
              </select>
          </div>
          <!-- <div class="input-box">
            <option style="font-weight: 100;" selected>Question 2</option>

            <select name="question2" [(ngModel)]="question2" class="select" class="form-control">
              <option value="null">Choisissez la question</option>
                <option *ngFor="let question of listquestion">{{question.question}}</option>
            </select>
          </div>
          <div class="input-box">
            <option style="font-weight: 100;" selected>Question 3</option>

            <select name="question3" [(ngModel)]="question3" class="select" class="form-control">
              <option value="null">Choisissez la question</option>
                <option *ngFor="let question of listquestion">{{question.question}}</option>
            </select>
          </div> -->
        </div>
        <br>
        <button type="submit" class="but" style="margin-bottom: 20px;">Ajouter</button>
        <br>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="voirquestion" tabindex="100" aria-labelledby="voirquestion" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content w-100">
      <form autocomplete="off" style="width: 96%; margin-left: auto; margin-top: 20px; margin-bottom: 20px;margin-right: auto;">

        <div >
          <div class="alert alert-success" role="alert" *ngIf="alertTrue">
            <i class="fa fa-check-circle-o" aria-hidden="true" style="color: green;"></i>  Infraction ajoutée avec succès !
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="alertNomTrue">
            <i class="fa fa-ban" aria-hidden="true" style="color: red;"></i>{{messageerror}}
          </div>

          <div >
              <span>Questions pour {{mlabel}}</span>
              <br>
              <br>
              <br>
              <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="row" *ngFor="let question of questions; let i = index">
                  <div class="col-md-6">
                    <h3>Q{{i+1}}: {{question.question}}</h3>
                  </div>
                  <div class="col-md-6">
                    <h3>R{{i+1}}: {{question.reponse}}</h3>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="addquiz" tabindex="100" aria-labelledby="addquiz" aria-hidden="true">
  <div class="modal-dialog d-flex justify-content-center">
    <div class="modal-content w-100">
      <form (ngSubmit)="addQuiz(label)" autocomplete="off" style="width: 96%; margin-left: auto; margin-top: 20px; margin-bottom: 20px;margin-right: auto;">

        <div >
          <div class="alert alert-success" role="alert" *ngIf="alertTrue">
            <i class="fa fa-check-circle-o" aria-hidden="true" style="color: green;"></i>  Infraction ajoutée avec succès !
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="alertNomTrue">
            <i class="fa fa-ban" aria-hidden="true" style="color: red;"></i>{{messageerror}}
          </div>

          <div >
              <span>Label *</span>
              <div class="shadow p-3 mb-5 bg-white rounded">
              <textarea class="form-control" name="label" [(ngModel)]="label" id="details"
                  placeholder="Donner un nom à votre quiz !" required></textarea>
              </div>
          </div>
        </div>
        <div class="button">
          <input class="but" type="submit" value="Ajouter le quiz">
        </div>
      </form>
    </div>
  </div>
</div>
